// Site header

.header-image {
    img {
        display: block;
        margin: 0 auto;
    }
}

.header-background-image {
    background: no-repeat center;
    background-size: cover !important;
    -moz-background-size: cover !important;
    -webkit-background-size: cover !important;

    .title-box {
        background: $color__background-title-box;
    }
}

.site-branding {
    padding: 6rem 0;
    text-align: center;
    background: $color__background-site-branding;
    
    a { 
        text-decoration: none; 
    }
}

.title-box {
    width: $size__header-title-box;
    max-width: 75%;
    padding: 4rem;
    margin: 0 auto;
    border: solid 1px $color__border-title-box;
}
                    
.site-title {
    font-weight: 700;
    @include font-size(4);
    text-transform: uppercase;
    line-height: normal;
    padding-bottom: 1rem;
}

.site-description {
    font-weight: 100;
    @include font-size(2);
}

.site-title a,
.site-description {
    color: $color__text-site-title;
}

/* Header responsive */
@media screen and (max-width: $size__breakpoint-header) {
    .site-branding {
        padding: 0;
    }
    
    .title-box {
        max-width: 100%;
        margin: 0;
        padding: 4rem;
        border: none;
    }
}
