$color__background-body: #fff;
$color__background-sidebar: #fff;
$color__background-main: #b2b2b2;
$color__background-single: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-site-branding: #2c86ba;
$color__background-title-box: rgba(51, 51, 51, .7);
$color__background-footer: #313131;
$color__background-caption: #e5e5e5;
$color__background-gallery-caption: hsla(0, 0%, 0%, .8);
$color__background-gallery-item: #333;
$color__background-comment-mod: #84bd68;
$color__background-table-head: #333;
$color__background-table-row-alt: #eee;

$color__menu-background-main: #313131;
$color__menu-background-submenu: #4d4d4d;
$color__menu-background-current-main: #fff;
$color__menu-background-current-submenu: $color__menu-background-main;
$color__menu-item: #fff;
$color__menu-current-main: $color__menu-background-current-submenu;
$color__menu-current-submenu: $color__menu-background-current-main;
$color__menu-background-search: $color__menu-background-submenu;
$color__menu-background-search-box: #fff;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #000;
$color__link-visited: #333;
$color__text-main: #404040;
$color__text-heading: #000;
$color__text-site-title: #fff;
$color__text-footer: #fff;
$color__link-footer: #fff;
$color__link-widget: #000;
$color__link-meta-hover: #000;
$color__link-meta: #333;
$color__text-caption: #fff;
$color__text-comment-mod: #fff;
$color__text-paging: #333;
$color__text-paging-current: #000;
$color__text-table-head: #fff;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
$color__border-title-box: #fff;
$color__border-footer: #fff;
$color__border-widget: #000;
$color__border-post-nav: hsl(0, 0%, 80%);
$color__border-blockquote: hsl(0, 0%, 80%);
$color__border-meta: hsl(0, 0%, 75%);
$color__border-table: #ddd;
