$color__background-body: #fff;
$color__background-sidebar: #fff;
$color__background-main: #b2b2b2;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-site-branding: #fff;

$color__menu-background-main: #313131;
$color__menu-background-submenu: #4d4d4d;
$color__menu-background-current-main: #fff;
$color__menu-background-current-submenu: $color__menu-background-main;
$color__menu-item: #fff;
$color__menu-current-main: $color__menu-background-current-submenu;
$color__menu-current-submenu: $color__menu-background-current-main;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;
$color__text-heading: #000;
$color__text-site-title: #000;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
