$size__site-main: 100%;
$size__site-sidebar: 380px;
$size__site-footer-widget: 320px;
// size in rem and should be used with the max-size mixin
$size__site-content: 78;
$size__site-logo-width: 230px;
$size__site-logo-height: 150px;

$size__header-title-box: 700px;

// media query breakpoints
$size__breakpoint-menu: 600px;
$size__breakpoint-header: 750px;
$size__breakpoint-footer: 880px;
$size__breakpoint-sidebar: 1160px;
$size__breakpoint-large-screen: 1540px;
$size__breakpoint-meta: 1320px;
$size__breakpoint-alignleft: 1320px;
$size__breakpoint-alignright: 1820px;
$size__breakpoint-featured-image: 780px;
