$font__main: "PT Serif", serif;
$font__heading: Lato, sans-serif;
$font__footer: Lato, sans-serif;
$font__menu: Lato, sans-serif;
$font__widget: Lato, sans-serif;
$font__meta: Lato, sans-serif;
$font__cite: Lato, sans-serif;
$font__caption: Lato, sans-serif;
$font__awesome: "Fontawesome";
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;