.page .site-content {
    background: $color__background-single;
}

.site-footer {
    clear: both;
    width: 100%;
}

.entry-header,
.entry-content,
.entry-footer,
.tag-links,
.post-navigation,
.comments-area,
.paging-navigation,
.page-header {
    position: relative;
    @include max-width(calculateRem($size__site-content + $size__site-sidebar));
    padding: 0 4rem;
    margin: 0 auto;
}

.page-header,
.paging-navigation {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 2em;
    list-style-type: none;
    background: $color__background-body;
}

.page-header {
    margin-top: 1em;
    margin-bottom: 1em;
}