.site-main {
    background: $color__background-main;
}

.site-content .widget-area {
    width: $size__site-sidebar;
    float: right;
    background: $color__background-sidebar;
    padding: 4rem;
}

.site-footer {
    clear: both;
    width: $size__site-main;
}

.entry-header,
.entry-content,
.entry-meta,
.entry-footer,
.tag-links,
.post-navigation,
.comments-area,
.paging-navigation {
    position: relative;
    @include max-width($size__site-content);
    padding: 0 4rem;
    margin: 0 auto;
}

@media screen and (min-width: $size__breakpoint-large-screen) {
    .content-area {
        float: left;
        width: 100%;
        margin-right: (-$size__site-sidebar);
    }
}

@media screen and (min-width: $size__breakpoint-sidebar) and (max-width: $size__breakpoint-large-screen - 1) {
    .content-area {
	width: $size__site-main;
	float: left;
	margin-left: (-$size__site-sidebar);
	padding-left: $size__site-sidebar;
    }
    
    .entry-header,
    .entry-content,
    .entry-meta,
    .entry-footer,
    .tag-links,
    .post-navigation,
    .comments-area,
    .paging-navigation {
	margin-right: 0;
    }
}

@media screen and (max-width: $size__breakpoint-sidebar - 1) {
    .site-content .widget-area {
	width: auto;
        @include max-width($size__site-content);
	float: none;
	margin: 1em auto 0;
    }
}