.site-content {
    padding-bottom: 4em;
    background: $color__background-main url(../images/pattern.svg) repeat;
}

.single .site-content,
.page .site-content {
    background: $color__background-single;
}

.site-content .widget-area {
    width: $size__site-sidebar;
    float: right;
    background: $color__background-sidebar;
    padding: 4rem;
}

.site-footer {
    clear: both;
    width: $size__site-main;
}

.entry-header,
.entry-content,
.entry-footer,
.tag-links,
.post-navigation,
.comments-area,
.paging-navigation,
.page-header {
    position: relative;
    @include max-width(calculateRem($size__site-content));
    padding: 0 4rem;
    margin: 0 auto;
}

.page-header,
.paging-navigation {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 2em;
    list-style-type: none;
    background: $color__background-body;
}

.index-box {
    @include max-width(calculateRem($size__site-content));
    padding: 1em 0 2em;
    margin: 0 auto 2em;
    background: $color__background-body;

    blockquote.alignleft,
    blockquote.alignright {
        background: $color__background-body;
        border: none;
    }
}

@media screen and (max-width: $size__breakpoint-sidebar - 1) {
    .site-content .widget-area {
	width: auto;
        @include max-width(calculateRem($size__site-content));
	float: none;
	margin: 1em auto 0;
    }
}

@media screen and (min-width: $size__breakpoint-alignright) {
    .index-box blockquote.alignright { 
        padding-right: 2em;
    }
}

@media screen and (min-width: $size__breakpoint-alignleft) {
    .index-box blockquote.alignleft {
        padding-left: 2em;
    }
}

@media screen and (min-width: $size__breakpoint-large-screen) {
    .content-area {
        float: left;
        width: 100%;
        margin-right: (-$size__site-sidebar);
    }
}

@media screen and (min-width: $size__breakpoint-sidebar) and (max-width: $size__breakpoint-large-screen - 1) {
    .content-area {
	width: $size__site-main;
	float: left;
	margin-left: (-$size__site-sidebar);
	padding-left: $size__site-sidebar;
    }
    
    .entry-header,
    .entry-content,
    .entry-footer,
    .tag-links,
    .post-navigation,
    .comments-area,
    .paging-navigation,
    .page-header,
    .index-box {
	margin-right: 0;
    }
}
