.gallery {
    margin-bottom: 1.5em;
}

.gallery-item {
    position: relative;    
    max-width:100%;
    float: left;
    margin-right: 3.333333333%;
    margin-bottom: 3rem;
    background: $color__background-gallery-item;
    overflow: hidden;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    max-height: 50%;
    width: 100%;
    padding: 6px 8px;
    margin: 0;
    @include font-size(1.2);
    line-height: 1.5;
    color: $color__text-caption;
    text-align: left;
    background-color: $color__background-gallery-caption;
    opacity: 0;
}

.gallery-item:hover .gallery-caption { 
    opacity: 1; 
}

.gallery a img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: none;
}