.gallery {
    margin-bottom: 1.5em;
}

.gallery-item {
    position: relative;    
    max-width:100%;
    float: left;
    margin-right: 3.333333333%;
    margin-bottom: 3rem;
    background: $color__background-gallery-item;
    overflow: hidden;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    max-height: 50%;
    width: 100%;
    padding: 6px 8px;
    margin: 0;
    @include font-size(1.2);
    line-height: 1.5;
    color: $color__text-caption;
    text-align: left;
    background-color: $color__background-gallery-caption;
    opacity: 0;
}

.gallery-item:hover .gallery-caption { 
    opacity: 1; 
}

.gallery a img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: none;
}