/* Typography */
.entry-title {
    margin: 0 0 2rem;
    font-weight: 900;
    @include font-size(4);
    line-height: 1.3em;
    color: $color__text-heading;
}

.entry-content {
    a { 
        text-decoration: underline; 
    }

    h1, h2, h3, h4, h5, h6 {
        margin-bottom: .4em;
    }

    h1 {
        @include font-size(3.2);
    }

    h2 {
        @include font-size(3.0);
    }

    h3 {
        @include font-size(2.8);
    }

    h4 {
        @include font-size(2.6);
    }

    h5 {
        @include font-size(2.4);
    }

    h6 {
        @include font-size(2.2);
    }

    p, ul, ol {
        @include font-size(2.0);
        line-height: 1.6em;
    }

    blockquote p {
        @include font-size(2.8);
        line-height: 1.5em;
    }
}

/* Smaller fonts for smaller screens */
@media screen and (max-width: $size__breakpoint-header) {
    .entry-title {
        @include font-size(3.2);
        line-height: 1.3em;
    }

    .entry-content {
        h1 {
            @include font-size(2.8);
        }

        h2 {
            @include font-size(2.6);
        }

        h3 {
            @include font-size(2.4);
        }

        h4 {
            @include font-size(2.2);
        }

        h5 {
            @include font-size(2.0);
        }

        h6 {
            @include font-size(1.8);
        }

        p, ul, ol  {
            @include font-size(1.8);
        }

        blockquote p {
            @include font-size(2.2);
            line-height: 1.5em;
        }
    }
}

/* Meta */
.category-list {
    margin: 1.3em 0 1em;
    font-family: $font__meta;
    @include font-size(1.6);

    a {
        color: $color__link-meta;

        &:hover {
            color: $color__link-meta-hover;
        }
    }
}

.entry-meta {
    margin-bottom: 2rem;
    padding: 0;
    font-family: $font__meta;
    @include font-size(1.4);

    a {
        font-weight: 600;
    }
}

.entry-footer {
    margin-top: 3rem;
    margin-bottom: 5rem;
    font-family: $font__meta;
    @include font-size(1.6);
    line-height: 2em;

    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    li {
        display: inline-block;
        margin-right: 4rem;
    }

    a {
        margin-left: .5rem;
    }
}

.sticky {
    display: block;
}

.hentry {
    margin: 0 0 1.5em;
}

.updated:not(.published){
    display: none;
}

.single .byline,
.group-blog .byline {
    display: inline;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 1.5em 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

@media screen and (min-width: $size__breakpoint-meta){
    .single {
        .entry-meta {
            width: 120px;
            margin-left: -160px;
            float: left;
            text-align: right;
        }

        .written-by {
            display: block;
        }

        .byline, .posted-on {
            display: block;
            margin-bottom: 1em;
        }        
    }
}

.written-by:after {
    content: ' ';
}
.posted-on:before {
    content: ' on ';
}
.posted-on:after {
    content: '.';
}

@media screen and (min-width: $size__breakpoint-meta) {
    .single .written-by:after,
    .single .posted-on:before,
    .single .posted-on:after {
        content: '';
    }
}

/* Blockquotes */
blockquote {
    padding: 1em 1.5em 0;
    margin-bottom: 1em;
    font-style: italic;
    border-top: solid 1px $color__border-blockquote;
    border-bottom: solid 1px $color__border-blockquote;

    em { 
        font-style: normal; 
    }

    cite {
        display: block;
        margin-top: 1em;
        margin-left: 40%;
        @include font-size(1.8);
        font-family: $font__cite;
        font-style: normal;
        line-height: 1.5em;
        text-align: right;
    }
}

blockquote.alignleft {
    width: 50%;
    float: left;
    padding: 1em 0 0;
    margin-right: 2em;
}

blockquote.alignright {
    width: 50%;
    float: right;
    padding: 1em 0 0;
    margin-left: 2em;
}

/* Blockquotes responsive */
/* Optional rules that set blockquotes to full width on smaller screens */
@media screen and (max-width: $size__breakpoint-header) {
    blockquote.alignleft,
    blockquote.alignright { width: 40%; }
}

@media screen and (max-width: $size__breakpoint-menu) {
    blockquote.alignleft,
    blockquote.alignright {
        width: 100%;
        padding: 1em 1.5em 0;   
    }
}