button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: none;
	@include border-radius(3px);
	background: $color__background-button;
	color: hsl(0, 0%, 100%);
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
        font-family: $font__h;
	@include font-size(1.6);
        text-transform: uppercase;
	line-height: 1;
	padding: 1em 2em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    background: $color__button-hover;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
    background: $color__button-focus;
}
